@use "../variables/colors" as c;
@use "./functions" as *;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: map-get(c.$colors, main);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6d5bb0;
}

::-webkit-scrollbar-corner {
  display: none;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  min-height: 100vh;
  position: relative;
  &::-webkit-scrollbar-track {
    background-color: map-get(c.$colors, main_3);
  }
  &[data-mode="dark"]::-webkit-scrollbar-track {
    background-color: map-get(c.$colors, sub_3);
  }
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Plus Jakarta Sans", sans-serif;
}

svg {
  pointer-events: none;
  user-select: none;
}

input,
textarea {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: rem(15px);
  width: 100%;
  border-radius: 5px;
}

input {
  padding: 0 rem(10px);
  height: rem(40px);
}

textarea {
  padding: rem(10px);
  height: rem(130px);
  resize: none;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body[data-mode="light"] {
  input,
  textarea {
    color: map-get(c.$colors, blackColor);
  }
}

body[data-mode="light"] {
  input[data-state="normal"],
  textarea[data-state="normal"] {
    border: 1px solid map-get(c.$colors, blackColor);
  }
}

body[data-mode="dark"] {
  input,
  textarea {
    color: map-get(c.$colors, main_2);
  }
}

body[data-mode="dark"] {
  input[data-state="normal"],
  textarea[data-state="normal"] {
    border: 1px solid map-get(c.$colors, main_2);
  }
}

input[data-state="empty"],
textarea[data-state="empty"] {
  border: 1px solid red;
}

input[data-state="active"],
textarea[data-state="active"] {
  border: 1px solid map-get(c.$colors, main);
}
