@use "../variables/colors" as c;
@use "./functions" as *;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Plus Jakarta Sans", sans-serif;
}

svg {
  pointer-events: none;
  user-select: none;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: rem(15px);
}

body[data-mode="light"] input {
  color: map-get(c.$colors, blackColor);
}

body[data-mode="light"] input[data-state="normal"] {
  border: 1px solid map-get(c.$colors, blackColor);
}

body[data-mode="dark"] input {
  color: map-get(c.$colors, main_2);
}

body[data-mode="dark"] input[data-state="normal"] {
  border: 1px solid map-get(c.$colors, main_2);
}

input[data-state="empty"] {
  border: 1px solid red;
}

input[data-state="allowed"] {
  border: 1px solid green;
}
