$mainColor: #7c67c7;
$mainColor2: #fff;
$mainColor3: #f4f7fd;
$subColor: #2b2c37;
$subColor2: #828d9c;
$subColor3: #20212c;
$blackColor: #000;
$deleteColor: #ea5555;
$columnColor1: #49c4e5;
$columnColor2: #67e2ae;

$colors: (
  main: #7c67c7,
  main_2: #fff,
  main_3: #f4f7fd,
  sub: #2b2c37,
  sub_2: #828d9c,
  sub_3: #20212c,
  black: #000,
  delete: #ea5555,
  col_logo: #49c4e5,
  col_logo_2: #67e2ae,
);
