@use "../variables/colors" as c;

.board-content {
  width: calc(100vw - 245px);
  height: calc(100vh - 77px);

  @at-root body[data-mode="light"] & {
    background-color: c.$mainColor3;
  }

  @at-root body[data-mode="dark"] & {
    background-color: c.$subColor3;
  }
}
