@use "../variables/colors" as c;
@use "../globals/functions" as *;

.board-content {
  width: calc(100vw - 245px);
  min-height: calc(100vh - 77px);
  padding: rem(25px);
  margin-top: 77px;
  display: flex;
  column-gap: 15px;
  overflow: scroll;
  @at-root body[data-mode="dark"] & {
    border-top: 1px solid #3e3f4e;
    color: map-get(c.$colors, main_2);
  }
  @at-root body[data-mode="light"] & {
    border-top: 1px solid #e2e2e2;
  }
  .hint {
    width: 100%;
    text-align: center;
    font-size: rem(25px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @at-root body[data-mode="dark"] & {
      color: map-get(c.$colors, main_2);
    }
    span {
      color: map-get(c.$colors, main);
      font-weight: 600;
    }
  }

  @at-root .board-creation[data-state="hidden"] ~ & {
    width: 100vw;
  }

  @at-root body[data-mode="light"] & {
    background-color: map-get(c.$colors, main_3);
  }

  @at-root body[data-mode="dark"] & {
    background-color: map-get(c.$colors, sub_3);
  }

  .board-column {
    min-width: rem(280px);
    .board-column-info {
      display: flex;
      align-items: center;
      margin-bottom: rem(25px);
      .column-logo {
        width: rem(15px);
        height: rem(15px);
        border-radius: 50%;
        background-color: map-get(c.$colors, main);
        margin-right: rem(8px);
        margin-top: -2px;
      }
    }
    .board-column-task {
      padding: rem(22px) rem(17px);
      border-radius: 10px;
      cursor: grab;
      background-color: map-get(c.$colors, main_2);
      color: map-get(c.$colors, blackColor);
      box-shadow: 0 0 5px 0 rgb(155, 155, 155);
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      @at-root body[data-mode="dark"] & {
        background-color: map-get(c.$colors, sub);
        color: map-get(c.$colors, main_2);
        box-shadow: 0 0 5px 0 rgb(42, 42, 42);
      }
      > {
        h4 {
          margin-bottom: 7px;
        }
        span {
          font-size: 14px;
          color: map-get(c.$colors, sub_2);
        }
      }
    }
  }
  .add-column-spot {
    min-width: rem(280px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(43px);
    border-radius: 10px;
    background-color: map-get(c.$colors, main_2);
    color: map-get(c.$colors, blackColor);
    box-shadow: 0 0 5px 0 rgb(155, 155, 155);
    @at-root body[data-mode="dark"] & {
      background-color: map-get(c.$colors, sub);
      color: map-get(c.$colors, main_2);
      box-shadow: 0 0 5px 0 rgb(42, 42, 42);
    }
    cursor: pointer;
    > span {
      display: flex;
      align-items: center;
      font-size: rem(25px);
      font-weight: 600;
      color: map-get(c.$colors, sub_2);
    }
    &:hover > span {
      color: map-get(c.$colors, main);
      > svg {
        fill: map-get(c.$colors, main);
      }
    }
  }
}
