@use "../variables/colors" as c;
@use "../variables/transitions" as t;
@use "../globals/functions" as *;

header {
  @at-root body[data-mode="dark"] & {
    background-color: map-get(c.$colors, sub);
    color: map-get(c.$colors, main_2);
  }
  display: flex;
  align-items: center;
  height: rem(77px);
  .logo-info {
    display: flex;
    align-items: center;
    width: rem(245px);
    height: 100%;
    padding-left: rem(20px);
    @at-root body[data-mode="dark"] & {
      border-right: 1px solid #3e3f4e;
    }
    @at-root body[data-mode="light"] & {
      border-right: 1px solid #e2e2e2;
    }
    > {
      div {
        margin: {
          top: -2px;
          right: 10px;
          bottom: 0;
          left: 0;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: rem(30px);
        width: rem(30px);
        > {
          div {
            height: inherit;
            width: 8px;
            border-radius: 5px;
            background-color: map-get(c.$colors, main);
          }
          div:nth-child(2) {
            opacity: 0.8;
          }
          div:last-child {
            opacity: 0.6;
          }
        }
      }
      h1 {
        font-size: rem(28px);
        font-weight: 700;
      }
    }
  }
  .board-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: {
      top: 15px;
      bottom: 15px;
      right: 20px;
      left: 20px;
    }
    h2 {
      font-size: rem(22px);
    }
    .board-manipulation {
      display: flex;
      align-items: center;
      margin-left: auto;
      .add-task-btn {
        background-color: map-get(c.$colors, main);
        border-radius: 20px;
        display: flex;
        align-items: center;
        padding: rem(12px) rem(20px);
        color: map-get(c.$colors, main_2);
        transition: t.$mainTransition;
        @at-root body[data-mode="dark"] &:hover {
          background-color: map-get(c.$colors, main_2);
          color: map-get(c.$colors, main);
          svg {
            fill: map-get(c.$colors, main);
          }
        }
        @at-root body[data-mode="light"] &:hover {
          background-color: map-get(c.$colors, sub);
        }
        h3 {
          font-size: rem(18px);
          font-weight: 700;
        }
      }
      .manipulating-spot {
        width: rem(6px);
        height: rem(24px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: rem(25px);
        cursor: pointer;
        > div {
          width: inherit;
          height: 6px;
          border-radius: 50%;
          background-color: map-get(c.$colors, sub_2);
        }
      }
    }
  }
}
