@use "../variables/colors" as c;
@use "../variables/transitions" as t;

header {
  body[data-mode="dark"] & {
    background-color: c.$subColor;
    color: c.$whiteColor;
  }
  padding: {
    top: 15px;
    bottom: 15px;
    right: 20px;
  }
  display: flex;
  align-items: center;
  .logo-info {
    display: flex;
    align-items: center;
    width: 245px;
    padding-left: 20px;
    > {
      div {
        margin: {
          top: -2px;
          right: 10px;
          bottom: 0;
          left: 0;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        width: 30px;
        > {
          div {
            height: inherit;
            width: 8px;
            border-radius: 5px;
            background-color: c.$mainColor;
          }
          div:nth-child(2) {
            opacity: 0.8;
          }
          div:last-child {
            opacity: 0.6;
          }
        }
      }
      h1 {
        font-size: 32px;
        font-weight: 700;
        color: c.$subColor2;
      }
    }
  }
  .board-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    h2 {
      color: c.$subColor2;
    }
    .board-manipulation {
      display: flex;
      align-items: center;
      .add-task-btn {
        background-color: c.$mainColor;
        border-radius: 20px;
        display: flex;
        align-items: center;
        padding: 12px 20px;
        color: c.$whiteColor;
        transition: t.$mainTransition;
        body[data-mode="dark"] &:hover {
          background-color: c.$whiteColor;
          color: c.$mainColor;
          svg {
            fill: c.$mainColor;
          }
        }
        body[data-mode="light"] &:hover {
          background-color: c.$subColor;
        }
        h3 {
          font-size: 18px;
          font-weight: 700;
        }
      }
      .manipulating-spot {
        width: 6px;
        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 25px;
        cursor: pointer;
        > div {
          width: inherit;
          height: 6px;
          border-radius: 50%;
          background-color: c.$subColor2;
        }
      }
    }
  }
}
